body{
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    #vinos-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    }
    
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
}

